<head>
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
</head>

<br><br><br>

<div class="container" align="center">
  <div class="align-middle">

    <h1> Choose A Profile </h1> <br>

    <a class="btn btn-success btn-lg" href="/users/new" role="button"> Create User &raquo;</a> <br><br>

    <a class="btn btn-success btn-lg" href="/users/new_admin" role="button"> Create Admin &raquo;</a>

  </div>
</div>
