<head>
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
</head>

<div class="container" align="center">
  <div class="align-middle">

    <br><br>

    <h1> <%= @user.name %>'s Reviews (Scored out of 5)</h1> <br>

    <a class="btn btn-success" href="/reviews/new" role="button">Write A Review! &raquo;</a> <br>

    <% @reviews.each do |review|%>
      <h2><%= review.user.name %></h2>
      <h3>
        <%= review.vacuum.name %> <br>
        Rating: <% review.emoji_rating.to_i.times do %>
          😂
        <% end %>
      </h3> <br>
    <% end %> <br>

    <a class="btn btn-success" href="/reviews" role="button">See All Reviews &raquo;</a>

  </div>
</div>
