<head>
  <style>
    body {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  </style>
</head>

<h1><%= "#{@user.name.titleize}'s profile" %></h1>


<!-- <h3> <%= collection_select(:vacuum, :user_id, Vacuum.all, :id, :name, prompt: "Choose a vacuum") %> </h3> -->

<h2>Vacuums</h2>

<% ShoppingCart.display_cart(session[:user_id]).each do |vacuum_name, vacuum_count| %>
  <li><%= link_to vacuum_name, vacuum_path(Vacuum.find_by(name: vacuum_name)) %> - <%= vacuum_count %></li>
<% end %>
