<head>
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
</head>

<div class="container" align="center">
  <div class="align-middle">

    <br><br>

    <h1> <%= @rental.vacuum.name %> </h1> <br>

    <h3>
      Rental Duration: <%= @rental.rental_duration %> <br>
      Rental Condition: <%= @rental.rental_condition %> <br>
      Rental Description: <%= @rental.rental_description %> <br>
    </h3>

  </div>
</div>
