<head>
  <style>
    body {
      padding-top: 100px;
      padding-bottom: 20px;
    }
  </style>
</head>

<center>
  <div class="container" align="center" style="width: 450px;">
    <h1>About Us</h1>

    <p>We made this site as a project for compounding our knowledge of rails. The idea came about after Trey had a couple of beers and started ranting about vacuums and emojis. So we got to work and started with the important stuff like what kind of funny quips to put on the front page. Also database structure and programming happened.</p> <br> <br> <br>
    <h3>Contact Us</h3>
    <dl>
      <dt>Trey - <a href="mailto:barrowsx@tfwno.gf">barrowsx@tfwno.gf</a></dt>
      <dd>Yes, that's a real email.</dd>
    </dl>
  </div>


</center>
