/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    float: none;
}
