<head>
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }
  </style>
</head>

<div class="container" align="center">
  <div class="align-middle">

    <br><br>

    <h1><%= @review.user.name %></h1>

    <h3>
      <%= @review.vacuum.name %>
      <%= @review.emoji_rating %>
      <%= @review.vacuum.name %>
      Rating: <% @review.emoji_rating.to_i.times do %>
        😂
      <% end %>
    </h3>

  </div>
</div>
